{% extends "arabic_lessons/base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>{{ lesson.title }}</h1>
    <p>{{ lesson.content }}</p>
    
    {% if user_progress.hearts_left > 0 %}
    <div>
        <p>You have {{ user_progress.hearts_left }} hearts left!</p>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {% for exercise in lesson.exercises.all %}
                <label>{{ exercise.question }}</label>
                {% if exercise.question_type == 'mcq' %}
                <div>
                    {% for option in exercise.options %}
                    <input type="radio" name="answer" value="{{ option }}">{{ option }}
                    {% endfor %}
                </div>
                {% else %}
                <input type="text" name="answer" class="form-control" required>
                {% endif %}
                <input type="hidden" name="exercise_id" value="{{ exercise.id }}">
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-success">Submit Answers</button>
        </form>
    </div>
    {% else %}
    <div>
        <p>You've run out of hearts! Please try again later.</p>
    </div>
    {% endif %}
</div>
{% endblock %}